.nav {
  display: flex;
  width: 100%;
  background-color: #734c19;
  height: 10vh;
  align-items: center;
  padding: 0px 10px;
}

.nav_box_profil {
  text-decoration: none;
  display: flex;
  color: white;
  width: 40%;
}
.nav_button_profil {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.nav_box_title {
  text-decoration: none;
  color: white;
  width: 20%;
  display: flex;
  justify-content: center;
}

.nav_box_button_auth {
  justify-content: end;
  display: flex;
  width: 40%;
  gap: 10px;
}
.nav_button_login {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.nav_button_signup {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
